/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

 @font-face {
  font-family: 'AtlasGroteskMedium';
  src: url('fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'), url('fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
