@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

main h2 {
  @apply text-lg lg:text-4xl mb-4 lg:mb-10;
}
main h2:not(:first-of-type) {
  @apply mt-32 lg:mt-48;
}

main p:not(:last-of-type) {
  @apply mb-8 lg:mb-16;
}


/* Hide main and footer when menu is open */
html.has_menu main,
html.has_menu footer {
  @apply !hidden;
}

/* Simplebar */
.simplebar-scrollbar::before {
  background-color: white !important;
}

/* Accordion */
[data-accordion-button].is-active svg {
  @apply -rotate-45;
}

[data-accordion-content] {
  transition: max-height .2s ease-out, opacity .1s .1s ease-out;
  will-change: max-height, opacity;
}
