@import "typo/webfonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

/* Overflow handling for mobile devices */
html.has_menu {
  @apply !overflow-y-hidden md:!overflow-y-scroll;
}

html.has_menu main,
html.has_menu footer {
  @apply !hidden;
}


.accordion-transition {
  transition: max-height .2s ease-out, opacity .1s .1s ease-out;
  will-change: max-height, opacity;
}


